footer {
    width: 100%;
    
    .inner {
        width: 1180px;
        margin: 0 auto;

        p {
            padding: 15px 0;
            font: 500 12px/1 'arial';
            color: #888;
            text-align: center;
        }
    }
}