footer {
    width: 100%;
    
    .inner {
        width: 1180px;
        margin: 0 auto;

        p {
            padding: 15px 0;
            font: 500 12px/1 'arial';
            color: #888;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        .inner {
            width: 100%;
            padding: 0 40px;
        }
    }
}