header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    // border-bottom: 1px solid rgba(255,255,255,0.15);
    
    .inner {
        width: 1180px;
        height: 70px;
        margin: 0 auto;
        position: relative;
        
        h1 {
            position: absolute;
            bottom: 20px;
            left: 0;
            line-height: 32px;

            a {
                font: 400 28px/1 "Spline Sans";
                color: #fff;
            }
        }

        #gnb {
            width: fit-content;
            position: absolute;
            bottom: 12px;
            right: 167px;

            li {
                float: left;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    font: 16px/1 "Spline Sans";
                    color: #888;
                }
            }
        }

        #util {
            float: right;
            margin-top: 20px;
            
            li {
                float: left;

                a {
                    display: inline-block;
                    padding: 13px 5px;
                    font: 300 14px/1 "Spline Sans";
                    color: #888;
                }
            }
        }

        .menu {
            display: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    header {
        .inner {
            width: 100%;
            padding: 0 40px;

            h1 {
                left: 40px;
            }
        }
    }
}


@media screen and (max-width: 940px) {
    header {
        .inner {
            #gnb {
                display: none;
            }

            #util {
                display: none;
            }
            .menu {
                display: block;
                width: 30px;
                height: 13px;
                position: relative;
                font: 300 16px/1 'Spline Sans';
                color: #fff;
                float: right;
                margin-top: 29px;
                cursor: pointer;
                background: transparent;
                border: none;
                outline: none;

                &::before, &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                }

                &::before {
                    top: 0;
                    left: 0;
                }

                &::after {
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}