.content {
    padding: 150px 0;
    min-height: 500px;
    
    >.inner {
        width: 1180px;
        margin: 0 auto;

        h1 {
            width: 100%;
            display: flex;
            justify-content: left;
            overflow: hidden;
            
            >.marqueeBox {
                display: flex;
                animation: marquee 20s linear infinite running;

                span{
                    display: block;
                    font: 300 100px/1 'Spline Sans';
                    color: #fff;
                    margin: 0 10px
                }
            }

        }
    }
}

@media screen and (max-width: 1200px) {
    .content {
        >.inner {
            width: 100%;
            padding: 0 40px;
        }
    }
}

@keyframes marquee {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}