.main {
    padding: 0;

    .inner {
        #visual {
            width: 100%;
            height: 100vh;
            position: relative;

            h2 {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font: 400 200px/1 'Playfair Display';
                color: #fff;

                span {
                    display: inline-block;
                    font: 300 55px/1 'Spline Sans';
                }
            }

            figure {
                width: 600px;
                height: 1100px;
                border-radius: 300px;
                position: absolute;
                top: 100px;
                right: 0px;
                overflow: hidden;
                z-index: -1;
                transition: 1s;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.2);
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &.on {
                    top: -180px;
                }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;

                }
            }
        }

        #about {
            width: 100%;
            padding: 150px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            >h2 {
                width: 50%;
                font: 400 70px/1 'Playfair Display';
                color: #fff;
                margin-bottom: 50px;
            }

            >p {
                width: 50%;
                font: 300 16px/1.3 'Spline Sans';
                color: #fff;
                letter-spacing: 1px;
            }

            .imgWrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                .pic {
                    width: 45%;
                    height: 600px;
                    position: relative;
                    cursor: pointer;

                    img {
                        height: 100%;
                        object-fit: contain;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }

                    .text {
                        width: 100%;
                        padding: 20px 0;
                        transform: translateY(560px);
                        opacity: 0;
                        transition: 0.5s ease-in;
                        

                        h3 {
                            font: 400 18px/1 'Spline Sans';
                            color: #d25d1e;
                            margin-bottom: 10px;
                        }

                        span {
                            font: 300 14px/1 'Spline Sans';
                            color: #888;
                        }
                    }

                    &:hover {
                        .text {
                            opacity: 1;
                            transform: translateY(610px);
                        }
                    }
                }
            }

        }

        #project {
            width: 100%;
            padding: 150px 0;
            position: relative;
            overflow: hidden;

            h2 {
                font: 400 70px/1 'Playfair Display';
                color: #fff;
                margin-bottom: 50px;
            }

            .swiper {
                width: 100%;
                height: 100%;
                overflow: hidden;

                .swiper-button-prev, .swiper-button-next {
                    color: rgba(255,255,255,0.8);
                    transition: .5s;

                    &:hover {
                        color: #d25d1e;
                    }
                }

                .swiper-wrapper {
                    width: 100%;
                    align-items: center;

                    .swiper-slide {
                        width: 700px;
                        height: 400px;
                        border-radius: 200px;
                        filter:  blur(2px) opacity(0.5);
                        transform: scale(0.7);
                        overflow: hidden;
    
                        .pic {
                            width: 100%;
                            height: 100%;
                            position: relative;
    
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        >.text {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
                            opacity: 0;
                            transition: 1s;
    
                            h3 {
                                text-align: center;
                                font: 400 24px/1 'Playfair Display';
                                color: #fff;
                                margin-top: 280px;
                                margin-bottom: 20px;
                            }
    
                            p {
                                width: fit-content;
                                font: 300 14px/1.4 'Spline Sans';
                                color: rgba(255,255,255,0.8);
                                letter-spacing: 1px;
                                margin: 0 auto;
                            }
                        }
    
                        &.swiper-slide-active {
                            filter: blur(0) brightness(1.1) opacity(1);
                            box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
                            transform: scale(1);
    
                            >.text {
                                opacity: 1;
                            }
                        }
                    }
                }

                
            }
        }

        #music {
            width: 100%;
            padding: 150px 0;

            h2 {
                font: 400 70px/1 'Playfair Display';
                color: #fff;
                margin-bottom: 50px;
            }

            >.container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                article {
                    display: flex;
                    position: relative;
                    margin-bottom: 50px;
                    
                    .pic {
                        width: 300px;
                        height: 300px;
                        overflow: hidden;
                        border-radius: 300px;
                        position: relative;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            transition: 1s;
                        }

                        &.play {
                            animation: play 10s linear infinite;

                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                    >.txt {
                        width: 150px;
                        height: 100%;
                        background: #111;
                        padding: 0px 20px;
                        position: absolute;
                        top: 0px;
                        right: 0px;

                        h3 {
                            font: 300 20px/1 'Spline Sans';
                            color: rgba(255,255,255,0.9);
                        }

                        h4 {
                            font: 300 20px/1 'Spline Sans';
                            color: rgba(255,255,255,0.5);
                            margin-bottom: 30px;
                        }

                        p {
                            font: 300 14px/1 'Spline Sans';
                            color: rgba(255,255,255,0.9);
                            margin-bottom: 10px;
                        }

                        >.btn {
                            position: absolute;
                            left: 20px;
                            bottom: 0;
                            border: 1px solid rgba(255,255,255,0.9);
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            cursor: pointer;
                            
                            button {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-40%,-50%);
                                width: 0;
                                height: 0;
                                background: transparent;
                                border-right: 1px solid transparent;
                                border-left: 10px solid rgba(255,255,255,0.9);
                                border-top: 10px solid transparent;
                                border-bottom: 10px solid transparent;
                                cursor: pointer;
                            }

                            &.play {
                                button {
                                    transform: translate(-50%,-50%);
                                    width: 10px;
                                    height: 10px;
                                    border-right: 2px solid rgba(255,255,255,0.9);
                                    border-left: 2px solid rgba(255,255,255,0.9);
                                    border-top: 0px solid transparent;
                                    border-bottom: 0px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }

        #news {
            width: 100%;
            padding: 150px 0;
            position: relative;
            overflow: hidden;

            h2 {
                font: 400 70px/1 'Playfair Display';
                color: #fff;
            }

            .swiper {
                width: 100%;
                height: 100%;
                padding-top: 50px;

                .newsBtns {
                    position: absolute;
                    top: 10px;
                    right: 0;

                    button {
                        padding: 5px;
                        background: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: .5s;

                        i {
                            font-size: 26px;
                            color: #fff;
                            transition: .5s;
                        }

                        &.newsPrev:hover {
                            transform: translateX(-5px);

                            i{
                                color: #d25d1e;
                            }
                        }

                        &.newsNext:hover {
                            transform: translateX(5px);

                            i{
                                color: #d25d1e;
                            }
                        }
                    }
                }

                >.swiper-button-prev, >.swiper-button-next {
                    display: none;
                }

                .swiper-wrapper {
                    width: 100%;
                    align-items: center;

                    .swiper-slide {
                        width: 100%;
                        border-bottom: 1px solid rgba(255,255,255,0.8);
    
                        .pic {
                            width: 100%;
                            height: 200px;
                            position: relative;
    
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        >.text {
                            width: 100%;
                            padding: 30px;
    
                            span {
                                font: 300 12px/1 'Spline Sans';
                                letter-spacing: 1px;
                                color: #fff;
                            }
    
                            p {
                                font: 300 18px/1.4 'Playfair Display';
                                color: rgba(255,255,255,0.8);
                                margin-bottom: 30px;
                            }
                        }
    
                        &.swiper-slide-active {
                            border-bottom: 1px solid #d25d1e;
    
                            >.text {
                                background-color: #d25d1e;
                                color: #fff;
                            }
                        }
                    }
                }

                
            }
        }

        #notice {
            width: 100%;
            padding: 150px 0;

            h2 {
                font: 400 70px/1 'Playfair Display';
                color: #fff;
                margin-bottom: 50px;
            }

            .noticeList {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                article {
                    width: 30%;
                    padding: 30px;
                    margin-bottom: 30px;
                    border: 1px solid #888;
                    cursor: pointer;
                    transition: .3s;

                    >h3 {
                        font: 400 22px/1 'Spline Sans';
                        color: #888;
                        margin-bottom: 10px;
                        transition: .3s;
                    }

                    >p {
                        font: 300 14px/1.2 'Spline Sans';
                        color: #888;
                        transition: .3s;
                    }

                    &:hover {
                        border: 1px solid #d25d1e;
                        background-color: #d25d1e;
                        transform: translate(-3px,-3px);

                        h3 { color: #fff; }
                        p { color: #fff; }
                    }
                }
            }
        }

        #promotion {
            width: 100%;
            padding: 100px 0 180px;

            h2 {
                font: 400 70px/1 'Playfair Display';
                color: #fff;
                margin-bottom: 50px;
            }

            .vidList {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                article {
                    width: 30%;
                    margin-bottom: 50px;
                    padding: 30px;
                    border-top: 1px solid #888;
                    border-bottom: 1px solid #888;
                    cursor: pointer;
                    transition: .3s;

                    .pic {
                        width: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    h3 {
                        margin: 15px 0;
                        font: 400 22px/1.2 'Spline Sans';
                        color: #888;
                    }

                    p {
                        font: 300 14px/1.4 'Spline Sans';
                        color: #888;
                    }

                    &:hover {
                        border-top: 1px solid #d25d1e;
                        border-bottom: 1px solid #d25d1e;
                        background: #d25d1e;

                        h3 {
                            color: #fff;
                        }
    
                        p {
                            color: #fff;
                        }
                    }
                }
            }

            .pop {
                width: 100vw;
                height: 100vh;
                padding: 10vh 10vw;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: rgba(0,0,0,0.9);

                .inner {
                    width: 100%;
                    height: 100%;

                    iframe {
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }

                span {
                    position: absolute;
                    top: 50px;
                    right: 50px;
                    cursor: pointer;

                    i {
                        color: #888;
                        font-size: 26px;
                        transition: .3s;
                    }

                    &:hover {
                        i { color: #fff;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        .inner {
            #visual {
                h2 {
                    font: 400 130px/1 'Playfair Display';
    
                    span {
                        font: 300 35px/1 'Spline Sans';
                    }
                }
            }
    
            #about {
                >p {
                    font: 300 14px/1.6 'Spline Sans';
                }
    
                .imgWrap {
                    .pic {
                        img {
                            width: 100%;
                            object-position: bottom;
                        }
    
                        &:hover {
                            .text {
                                transform: translateY(600px);
                            }
                        }
                    }
                }
            }

            #project {
                h2 {
                    font: 400 70px/1 'Playfair Display';
                    color: #fff;
                    margin-bottom: 50px;
                }
            }
    
            #music {
                >.container {
                    justify-content: space-around;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .main {
        .inner {
            #promotion {
                .vidList {
                    article {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .main {
        .inner {
            #visual {
                h2 {
                    font: 400 100px/1 'Playfair Display';
    
                    span {
                        font: 300 30px/1 'Spline Sans';
                    }
                }

                figure {
                    width: calc(100% - 80px);
                    right: 50%;
                    transform: translateX(50%);
                }
            }
    
            #about {
                flex-wrap: wrap;

                >h2 {
                    margin-bottom: 30px;
                }

                >p {
                    width: 100%;
                    font: 300 14px/1.4 'Spline Sans';
                    margin-bottom: 50px;
                }
    
                .imgWrap {
                    flex-wrap: wrap-reverse;
                    justify-content: space-between;

                    .pic {
                        width: 65%;

                        &:nth-of-type(1) {
                            margin-left: auto;
                        }

                        img {
                            object-position: left bottom;
                        }
                    }
                }
            }

            #project {
                .swiper {
                    .swiper-wrapper {
                        width: 100%;
                        align-items: center;
    
                        .swiper-slide {
                            width: 100%;
        
                            &.swiper-slide-active {
                                width: 100%;
                            }
                        }
                    }
                }
            }
    
            #music {
                >.container {
                    justify-content: center;
                }
            }

            #notice {
                .noticeList {
                    article {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 696px) {
    .main {
        .inner {
            #about {
                >h2 {
                    width: 100%;
                }
    
                .imgWrap {
                    .pic {
                        width: 400px;
                    }
                }
            }
    
            #project {
                >.container {
                    article {
                        margin-bottom: 80px;
                        .pic {
                            width: 200px;
                            height: 200px;
                        }
                        .txt {
                            width: 100px;
                        }
                    }
                }
            }
            
            #news {
                .swiper {
                    .newsBtns {
                        left: 0;
                        right: unset;
                    }
                }
            }

            #promotion {
                .vidList {
                    article {
                        width: 100%;

                        h3 {
                            font: 400 20px/1.2 'Spline Sans';
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {
    .main {
        .inner {
            #visual {
                h2 {
                    font: 400 80px/1 'Playfair Display';
                    left: 50%;
                    transform: translateX(-50%);
    
                    span {
                        font: 300 25px/1 'Spline Sans';
                    }
                }

                figure {
                    width: 100%;
                }
            }

            #about {
                >h2 {
                    width: 100%;
                }
    
                .imgWrap {
                    .pic {
                        width: 400px;
                    }
                }
            }

            #project {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .txt {
                                h3 {
                                    margin-top: 255px;
                                }
                            }
                        }
                    }
                }
            }
    
            #music {
                >.container {
                    justify-content: center;
                    
                    article {
                        margin-bottom: 80px;

                        .pic {
                            width: 300px;
                            height: 300px;
                        }
                        .txt {
                            width: 150px;
                        }
                    }
                }
            }

            #notice {
                .noticeList {
                    article {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 476px) {
    .main {
        .inner {
            overflow-x: hidden;

            #visual {
                h2 {
                    font: 400 62px/1 'Playfair Display';
    
                    span {
                        font: 300 22px/1 'Spline Sans';
                    }
                }

                figure {
                    width: 100vw;
                    height: calc(100vh - 100px);
                    border-radius: 300px 300px 0 0;

                    &.on {
                        top: 100px;
                    }
                }
            }

            #about {
                padding-top: 180px;
    
                .imgWrap {
                    .pic {
                        width: 100%;
                        height: 500px;
                        margin-bottom: 100px;

                        img {
                            object-fit: cover;
                            object-position: center center;
                        }
                        .text {
                            transform: translateY(400px);
                        }

                        &:hover {
                            .text {
                                transform: translateY(500px);
                            }
                        }
                    }
                }
            }

            #project {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            height: 500px;

                            .text {
                                h3 {
                                    margin-top: 325px;
                                }
                            }
                        }
                    }
                }
            }
    
            #music {
                >.container {
                    justify-content: center;

                    article {
                        margin-bottom: 80px;

                        .pic {
                            width: 300px;
                            height: 300px;
                        }
                        .txt {
                            width: 150px;
                        }
                    }
                }
            }

            
        }
    }
}

@media screen and (max-width: 370px) {
    .main {
        .inner {
            #visual {
                h2 {
                    font: 400 50px/1 'Playfair Display';
    
                    span {
                        font: 300 18px/1 'Spline Sans';
                    }
                }
            }

            #about {
                h2 {
                    font: 400 50px/1 'Playfair Display';
                }

                .imgWrap {
                    .pic {
                        height: 400px;
                        .text {
                            transform: translateY(300px);
                        }

                        &:hover {
                            .text {
                                transform: translateY(400px);
                            }
                        }
                    }
                }
            }

            #project {
                h2 {
                    font: 400 50px/1 'Playfair Display';
                }

                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            height: 400px;

                            .text {
                                h3 {
                                    margin-top: 250px;
                                }
                            }
                        }
                    }
                }
            }
    
            #music {
                h2 {
                    font: 400 50px/1 'Playfair Display';
                }

                >.container {
                    article {

                        .pic {
                            width: 200px;
                            height: 200px;
                        }
                        .txt {
                            width: 100px;

                            .btn {
                                width: 30px;
                                height: 30px;

                                button {
                                    border-left: 7px solid rgba(255, 255, 255, 0.9);
                                    border-top: 7px solid transparent;
                                    border-bottom: 7px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes play {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}