.community {
    .inner {
        h1 {
            >.marqueeBox {
                animation: marquee 30s linear infinite running;
            }
        }

        article {
            width: 100%;
            padding: 25px 15px;
            border-top: 1px solid #888;
            cursor: pointer;
            transition: .3s;

            &:last-child {
                border-bottom: 1px solid #888;
            }

            .num {
                display: inline-block;
                width: 50px;
                margin-right: 50px;
                vertical-align: middle;
                text-align: center;
                font: 400 28px/45px 'Dancing Script';
                color: #888;
                transition: .3s;
            }

            .wrap {
                display: inline-block;
                vertical-align: middle;


                h2 {
                    font: 400 20px/1 'Spline Sans';
                    color: #fff;
                    letter-spacing: 1px;
                    transition: .3s;
                }

                .txtWrap {
                    margin-top: 5px;

                    >span {
                        display: inline-block;
                        vertical-align: middle;
                        font: 300 15px/1 'Spline Sans';
                        color: rgba(255,255,255,0.7);
                        margin-right: 10px;
                        transition: .3s;
                    }
                }
            }

            &:hover {
                .num {
                    color: #fff;
                }

                .wrap {
                    h2 {
                        color: #fff;
                        transform: translateX(10px);
                    }

                    .txtWrap {
                        span{
                            transform: translateX(10px);
                            transition-delay: .2s;
                        }
                    }
                }
            }
        }
    }
}