.community {
    .inner {
        position: relative;

        .faqWrap {
            h2 {
                font: 400 14px/1 'Spline Sans';
                color: #fff;
                margin-bottom: 20px;
            }
            
            >.inner {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(3,1fr);
                margin-bottom: 100px;
    
                >article {
                    position: relative;
                    height: 300px;
                    padding: 30px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    cursor: pointer;
                    border: 1px solid rgba(255,255,255,0.1);
    
                    >img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
    
                    h3 {
                        font: 500 90px/1 "Dancing Script";
                        color: #fff;
                    }
    
                    p {
                        font: 300 14px/1.2 'Spline Sans';
                        color: #fff;
                        letter-spacing: 1px;
                    }
    
                    &::before {
                        content: '';
                        display: block;
                        background-color: #d25d1e;
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transition: 1s;
                    }
    
                    &:hover {
                        width: 100%;
                        height: 100%;
    
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .boardWrap {
            position: relative;
            padding-top: 37px;

            h2 {
                font: 400 14px/1 'Spline Sans';
                color: #fff;
                margin-bottom: 20px;
            }
    
            .notice {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;

                .inputBox {
                    width: 400px;
                    height: fit-content;
                    padding: 20px;
                    position: sticky;
                    top: 80px;
                    left: 0px;
                    border: 1px solid #888;

                    >input {
                        width: 100%;
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid #888;
                        font: 300 14px/1 'Spline Sans';
                        color: #fff;
                        outline: none;
                        background: transparent;
                        margin-bottom: 15px;
                    }

                    >textarea {
                        width: 100%;
                        height: 100px;
                        resize: none;
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid #888;
                        font: 300 14px/1 'Spline Sans';
                        color: #fff;
                        outline: none;
                        background: transparent;
                        margin-bottom: 8px;
                    }


                    .btns {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        li {
                            width: 120px;
                            padding: 10px;
                            margin: 10px;
                            text-align: center;
                            font: 300 14px/1 'Spline Sans';
                            color: #888;
                            border: 1px solid #888;
                            cursor: pointer;
                            transition: .3s;

                            &:hover {
                                color: #fff;
                                border: 1px solid #fff;
                            }
                        }
                    }
                }

                .showBox {
                    width: calc(100% - 450px);

                    .showWrap {
                        width: 100%;
                        border-bottom: 1px solid #888;

                        article {
                            width: 100%;
                            padding: 25px 15px;
                            border-top: 1px solid #888;
                            cursor: pointer;
                            transition: .3s;
                
                            .num {
                                display: inline-block;
                                width: 50px;
                                margin-right: 50px;
                                vertical-align: middle;
                                text-align: center;
                                font: 400 28px/45px 'Dancing Script';
                                color: #888;
                                transition: .3s;
                            }
                
                            .post {
                                display: inline-block;
                                vertical-align: middle;
                
                                h3 {
                                    font: 400 20px/1.3 'Spline Sans';
                                    color: #fff;
                                    letter-spacing: 1px;
                                    transition: .3s;
                                }
                
                                >p {
                                    display: inline-block;
                                    vertical-align: middle;
                                    font: 300 15px/1.4 'Spline Sans';
                                    color: rgba(255,255,255,0.7);
                                    margin-right: 10px;
                                    transition: .3s;
                                }

                                >input[type=text] {
                                    width: 300px;
                                    padding: 10px;
                                    border: 1px solid #888;
                                    margin-bottom: 10px;
                                    background-color: transparent;
                                    font: 300 14px/1 'Spline Sans';
                                    color: #fff;
                                }

                                >textarea {
                                    width: 300px;
                                    height: 100px;
                                    padding: 10px;
                                    border: 1px solid #888;
                                    background-color: transparent;
                                    font: 300 14px/1 'Spline Sans';
                                    color: #fff;
                                    resize: none;
                                }
                            }
    
                            .btnsUpdate {
                                display: inline-flex;
                                float: right;
    
                                li {
                                    font: 300 12px/1 'Spline Sans';
                                    color: rgba(255,255,255,0.5);
                                    margin-left: 10px;
                                    transition: .5s;

                                    &:nth-of-type(1):hover {
                                        color: #fff;
                                    }

                                    &:nth-of-type(2):hover {
                                        color: #d25d1e;
                                    }
                                }
                            }
                
                            &:hover {
                                .num {
                                    color: #fff;
                                }
                
                                .post {
                                    h3 {
                                        color: #fff;
                                        transform: translateX(10px);
                                    }
                                    
                                    p{
                                        transform: translateX(10px);
                                        transition-delay: .2s;
                                    }
                                }
                            }
                        }
                    }


                    .pagination {
                        width: fit-content;
                        margin: 30px auto;
            
                        >a {
                            display: inline-block;
                            vertical-align: center;
                            padding: 3px 10px;
            
                            i {
                                font-size: 20px;
                                color: #fff;
                            }
                        }
            
                        .num {
                            display: inline-block;
                            vertical-align: center;
                            
                            >a {
                                display: inline-block;
                                vertical-align: center;
                                font: 300 18px/24px 'Spline Sans';
                                color: #888;
                                padding: 0px 9px;
                                margin: 0 10px;
                                border: 1px solid #888;
                                transition: .5s;
            
                                &:hover,&.on {
                                    color: #fff;
                                    border: 1px solid #fff;
                                }
                            }
                        }
                    }
                }
        
                
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .community {
        .inner {
            .boardWrap {
                .notice {
                    .inputBox {
                        width: 300px;
                    }
    
                    .showBox {
                        width: calc(100% - 350px);

                        .showWrap {
                            article {
                                .num {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .community {
        .inner {
            .faqWrap {
                >.inner {
                    >article {
                        h3 {
                            font: 500 70px/1 "Dancing Script";
                        }
                    }
                }
            }
    
            .boardWrap {
                .notice {
                    flex-direction: column;

                    .inputBox {
                        width: 100%;
                        margin-bottom: 50px;
                        position: relative;
                        top: 0;
                        left: 0;
                    }
    
                    .showBox {
                        width: 100%;

                        .showWrap {
                            article {
                                .num {
                                    display: inline-block;
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 845px) {
    .community {
        .inner {
            h1 {
                font: 400 80px/1 'Playfair Display';
            }
        }
    }
}

@media screen and (max-width: 686px) {
    .community {
        .inner {
            h1 {
                font: 400 60px/1 'Playfair Display';

                p:nth-of-type(2){
                    margin-left: 50px;
                }
            }

            .faqWrap {
                >.inner {
                    grid-template-columns: repeat(2,1fr);

                    >article {
                        &:nth-of-type(4) {
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 564px) {
    .community {
        .inner {
            h1 {
                font: 400 60px/1 'Playfair Display';
            }

            .faqWrap {
                >.inner {
                    >article {
                        padding: 30px 15px;
        
                        h3 {
                            font: 500 60px/1 "Dancing Script";
                        }
        
                        p {
                            font: 300 14px/1.2 'Spline Sans';
                        }
                    }
                }
            }

            .boardWrap {
                .notice {
                    .showBox {
                        .showWrap {
                            article {
                                .num {
                                    display: none;
                                }

                                .btnsUpdate {
                                    width: 100%;
                                    display: flex;
                                    float: none;
                                    margin-top: 15px;
        
                                    li {
                                        margin-right: 10px;
                                        margin-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .community {
        .inner {
            .faqWrap {
                >.inner {
                    grid-template-columns: repeat(1,1fr);
        
                    >article {
                        &:hover {
                            height: 300px;
                        }
                    }
                }
            }

            .boardWrap {
                .notice {
                    .showBox {
                        .pagination {
                            >a {
                                padding: 3px 5px;
                
                                i {
                                    font-size: 18px;
                                }
                            }
                
                            .num {
                                vertical-align: top;
                                
                                >a {
                                    padding: 0px 6px;
                                    margin: 0 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 389px) {
    .community {
        .inner {
            h1 {
                font: 400 40px/1 'Playfair Display';
            }
        }
    }
}