.join {
    .inner {
        .joinWrap {
            width: 100%;
            
            h2 {
                font: 400 14px/1 'Spline Sans';
                color: #fff;
                margin-bottom: 20px;
            }
        }
    }
}