.content {
    padding: 150px 0;
    min-height: 500px;
    
    .inner {
        width: 1180px;
        margin: 0 auto;

        h1 {
            font: 30px/1 'arial';
            color: #222;
        }
    }
}