@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #111; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header .inner {
    width: 1180px;
    height: 70px;
    margin: 0 auto;
    position: relative; }
    header .inner h1 {
      position: absolute;
      bottom: 20px;
      left: 0;
      line-height: 32px; }
      header .inner h1 a {
        font: 400 28px/1 "Spline Sans";
        color: #fff; }
    header .inner #gnb {
      width: fit-content;
      position: absolute;
      bottom: 12px;
      right: 167px; }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 10px 20px;
          font: 16px/1 "Spline Sans";
          color: #888; }
    header .inner #util {
      float: right;
      margin-top: 20px; }
      header .inner #util li {
        float: left; }
        header .inner #util li a {
          display: inline-block;
          padding: 13px 5px;
          font: 300 14px/1 "Spline Sans";
          color: #888; }
    header .inner .menu {
      display: none; }

@media screen and (max-width: 1200px) {
  header .inner {
    width: 100%;
    padding: 0 40px; }
    header .inner h1 {
      left: 40px; } }
@media screen and (max-width: 940px) {
  header .inner #gnb {
    display: none; }
  header .inner #util {
    display: none; }
  header .inner .menu {
    display: block;
    width: 30px;
    height: 13px;
    position: relative;
    font: 300 16px/1 'Spline Sans';
    color: #fff;
    float: right;
    margin-top: 29px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none; }
    header .inner .menu::before, header .inner .menu::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute; }
    header .inner .menu::before {
      top: 0;
      left: 0; }
    header .inner .menu::after {
      bottom: 0;
      left: 0; } }
footer {
  width: 100%; }
  footer .inner {
    width: 1180px;
    margin: 0 auto; }
    footer .inner p {
      padding: 15px 0;
      font: 500 12px/1 'Spline Sans';
      color: #888;
      text-align: center; }

@media screen and (max-width: 1200px) {
  footer .inner {
    width: 100%;
    padding: 0 40px; } }
.content {
  padding: 150px 0;
  min-height: 500px; }
  .content > .inner {
    width: 1180px;
    margin: 0 auto; }
    .content > .inner > h1 {
      width: 100%;
      font: 400 100px/1 'Playfair Display';
      color: #fff;
      margin-bottom: 100px; }
      .content > .inner > h1 p:nth-of-type(2) {
        margin-left: 100px; }

@media screen and (max-width: 1200px) {
  .content > .inner {
    width: 100%;
    padding: 0 40px; } }
.main {
  padding: 0; }
  .main .inner .visual {
    width: 100%;
    height: 100vh;
    position: relative; }
    .main .inner .visual h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font: 400 200px/1 'Playfair Display';
      color: #fff; }
      .main .inner .visual h1 span {
        display: inline-block;
        font: 300 55px/1 'Spline Sans'; }
    .main .inner .visual figure {
      width: 600px;
      height: 1100px;
      border-radius: 300px;
      position: absolute;
      top: 100px;
      right: 0px;
      overflow: hidden;
      z-index: -1;
      transition: 1s; }
      .main .inner .visual figure::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0; }
      .main .inner .visual figure.on {
        top: -180px; }
      .main .inner .visual figure video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative; }
  .main .inner .about {
    width: 100%;
    padding: 180px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main .inner .about > h1 {
      width: 50%;
      font: 400 70px/1 'Playfair Display';
      color: #fff;
      margin-bottom: 50px; }
    .main .inner .about > p {
      width: 50%;
      font: 300 16px/1.3 'Spline Sans';
      color: #fff;
      letter-spacing: 1px; }
    .main .inner .about .imgWrap {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .main .inner .about .imgWrap .pic {
        width: 45%;
        height: 600px;
        position: relative;
        cursor: pointer; }
        .main .inner .about .imgWrap .pic img {
          height: 100%;
          object-fit: contain;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; }
        .main .inner .about .imgWrap .pic .text {
          width: 100%;
          padding: 20px 0;
          transform: translateY(560px);
          opacity: 0;
          transition: 0.5s ease-in; }
          .main .inner .about .imgWrap .pic .text h2 {
            font: 400 18px/1 'Spline Sans';
            color: #d25d1e;
            margin-bottom: 10px; }
          .main .inner .about .imgWrap .pic .text span {
            font: 300 14px/1 'Spline Sans';
            color: #888; }
        .main .inner .about .imgWrap .pic:hover .text {
          opacity: 1;
          transform: translateY(610px); }
  .main .inner .project {
    width: 100%;
    padding: 50px 0 180px;
    position: relative;
    overflow: hidden; }
    .main .inner .project h1 {
      font: 400 70px/1 'Playfair Display';
      color: #fff;
      margin-bottom: 50px; }
    .main .inner .project .swiper {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .main .inner .project .swiper .swiper-button-prev, .main .inner .project .swiper .swiper-button-next {
        color: rgba(255, 255, 255, 0.8);
        transition: .5s; }
        .main .inner .project .swiper .swiper-button-prev:hover, .main .inner .project .swiper .swiper-button-next:hover {
          color: #d25d1e; }
      .main .inner .project .swiper .swiper-wrapper {
        width: 100%;
        align-items: center; }
        .main .inner .project .swiper .swiper-wrapper .swiper-slide {
          width: 700px;
          height: 400px;
          border-radius: 200px;
          filter: blur(2px) opacity(0.5);
          overflow: hidden; }
          .main .inner .project .swiper .swiper-wrapper .swiper-slide .pic {
            width: 100%;
            height: 100%;
            position: relative; }
            .main .inner .project .swiper .swiper-wrapper .swiper-slide .pic img {
              position: absolute;
              top: 0;
              left: 0;
              object-fit: cover;
              width: 100%;
              height: 100%; }
          .main .inner .project .swiper .swiper-wrapper .swiper-slide > .text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
            opacity: 0;
            transition: 1s; }
            .main .inner .project .swiper .swiper-wrapper .swiper-slide > .text h2 {
              text-align: center;
              font: 400 24px/1 'Playfair Display';
              color: #fff;
              margin-top: 280px;
              margin-bottom: 20px; }
            .main .inner .project .swiper .swiper-wrapper .swiper-slide > .text p {
              width: fit-content;
              font: 300 14px/1.4 'Spline Sans';
              color: rgba(255, 255, 255, 0.8);
              letter-spacing: 1px;
              margin: 0 auto; }
          .main .inner .project .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
            filter: blur(0) brightness(1.1) opacity(1);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
            .main .inner .project .swiper .swiper-wrapper .swiper-slide.swiper-slide-active > .text {
              opacity: 1; }
  .main .inner .music {
    width: 100%;
    padding: 50px 0 180px; }
    .main .inner .music h1 {
      font: 400 70px/1 'Playfair Display';
      color: #fff;
      margin-bottom: 50px; }
    .main .inner .music > .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .main .inner .music > .container article {
        display: flex;
        position: relative;
        margin-bottom: 50px; }
        .main .inner .music > .container article .pic {
          width: 300px;
          height: 300px;
          overflow: hidden;
          border-radius: 300px;
          position: relative;
          cursor: pointer; }
          .main .inner .music > .container article .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: 1s; }
          .main .inner .music > .container article .pic.play {
            animation: play 10s linear infinite; }
            .main .inner .music > .container article .pic.play img {
              transform: scale(1.2); }
        .main .inner .music > .container article > .txt {
          width: 150px;
          height: 100%;
          background: #111;
          padding: 0px 20px;
          position: absolute;
          top: 0px;
          right: 0px; }
          .main .inner .music > .container article > .txt h2 {
            font: 300 20px/1 'Spline Sans';
            color: rgba(255, 255, 255, 0.9); }
          .main .inner .music > .container article > .txt h3 {
            font: 300 20px/1 'Spline Sans';
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 30px; }
          .main .inner .music > .container article > .txt p {
            font: 300 14px/1 'Spline Sans';
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 10px; }
          .main .inner .music > .container article > .txt > .btn {
            position: absolute;
            left: 20px;
            bottom: 0;
            border: 1px solid rgba(255, 255, 255, 0.9);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            cursor: pointer; }
            .main .inner .music > .container article > .txt > .btn button {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-40%, -50%);
              width: 0;
              height: 0;
              background: transparent;
              border-right: 1px solid transparent;
              border-left: 10px solid rgba(255, 255, 255, 0.9);
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              cursor: pointer; }
            .main .inner .music > .container article > .txt > .btn.play button {
              transform: translate(-50%, -50%);
              width: 10px;
              height: 10px;
              border-right: 2px solid rgba(255, 255, 255, 0.9);
              border-left: 2px solid rgba(255, 255, 255, 0.9);
              border-top: 0px solid transparent;
              border-bottom: 0px solid transparent; }

@media screen and (max-width: 1200px) {
  .main .inner .visual h1 {
    font: 400 130px/1 'Playfair Display'; }
    .main .inner .visual h1 span {
      font: 300 35px/1 'Spline Sans'; }
  .main .inner .about > p {
    font: 300 14px/1.6 'Spline Sans'; }
  .main .inner .about .imgWrap .pic img {
    width: 100%;
    object-position: bottom; }
  .main .inner .about .imgWrap .pic:hover .text {
    transform: translateY(600px); }
  .main .inner .project h1 {
    font: 400 70px/1 'Playfair Display';
    color: #fff;
    margin-bottom: 50px; }
  .main .inner .project .swiper .swiper-wrapper {
    width: 100%;
    align-items: center; }
    .main .inner .project .swiper .swiper-wrapper .swiper-slide {
      width: 100%; }
      .main .inner .project .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
        width: 100%; }
  .main .inner .music > .container {
    justify-content: space-around; } }
@media screen and (max-width: 760px) {
  .main .inner .visual h1 {
    font: 400 100px/1 'Playfair Display'; }
    .main .inner .visual h1 span {
      font: 300 30px/1 'Spline Sans'; }
  .main .inner .visual figure {
    width: calc(100% - 80px);
    right: 50%;
    transform: translateX(50%); }
  .main .inner .about {
    flex-wrap: wrap; }
    .main .inner .about > h1 {
      margin-bottom: 30px; }
    .main .inner .about > p {
      width: 100%;
      font: 300 14px/1.4 'Spline Sans';
      margin-bottom: 50px; }
    .main .inner .about .imgWrap {
      flex-wrap: wrap-reverse;
      justify-content: space-between; }
      .main .inner .about .imgWrap .pic {
        width: 65%; }
        .main .inner .about .imgWrap .pic:nth-of-type(1) {
          margin-left: auto; }
        .main .inner .about .imgWrap .pic img {
          object-position: left bottom; }
  .main .inner .music > .container {
    justify-content: space-between; } }
@media screen and (max-width: 696px) {
  .main .inner .about > h1 {
    width: 100%; }
  .main .inner .about .imgWrap .pic {
    width: 400px; }
  .main .inner .music > .container article {
    margin-bottom: 80px; }
    .main .inner .music > .container article .pic {
      width: 200px;
      height: 200px; }
    .main .inner .music > .container article .txt {
      width: 100px; } }
@media screen and (max-width: 590px) {
  .main .inner .visual h1 {
    font: 400 80px/1 'Playfair Display';
    left: 50%;
    transform: translateX(-50%); }
    .main .inner .visual h1 span {
      font: 300 25px/1 'Spline Sans'; }
  .main .inner .visual figure {
    width: 100%; }
  .main .inner .about > h1 {
    width: 100%; }
  .main .inner .about .imgWrap .pic {
    width: 400px; }
  .main .inner .project .swiper .swiper-wrapper .swiper-slide .txt h2 {
    margin-top: 255px; }
  .main .inner .music > .container {
    justify-content: center; }
    .main .inner .music > .container article {
      margin-bottom: 80px; }
      .main .inner .music > .container article .pic {
        width: 300px;
        height: 300px; }
      .main .inner .music > .container article .txt {
        width: 150px; } }
@media screen and (max-width: 476px) {
  .main .inner {
    overflow-x: hidden; }
    .main .inner .visual h1 {
      font: 400 62px/1 'Playfair Display'; }
      .main .inner .visual h1 span {
        font: 300 22px/1 'Spline Sans'; }
    .main .inner .visual figure {
      width: 100vw;
      height: calc(100vh - 100px);
      border-radius: 300px 300px 0 0; }
      .main .inner .visual figure.on {
        top: 100px; }
    .main .inner .about {
      padding-top: 180px; }
      .main .inner .about .imgWrap .pic {
        width: 100%;
        height: 500px;
        margin-bottom: 100px; }
        .main .inner .about .imgWrap .pic img {
          object-fit: cover;
          object-position: center center; }
        .main .inner .about .imgWrap .pic .text {
          transform: translateY(400px); }
        .main .inner .about .imgWrap .pic:hover .text {
          transform: translateY(500px); }
    .main .inner .project .swiper .swiper-wrapper .swiper-slide {
      height: 500px; }
      .main .inner .project .swiper .swiper-wrapper .swiper-slide .text h2 {
        margin-top: 325px; }
    .main .inner .music > .container {
      justify-content: center; }
      .main .inner .music > .container article {
        margin-bottom: 80px; }
        .main .inner .music > .container article .pic {
          width: 300px;
          height: 300px; }
        .main .inner .music > .container article .txt {
          width: 150px; } }
@media screen and (max-width: 370px) {
  .main .inner .visual h1 {
    font: 400 50px/1 'Playfair Display'; }
    .main .inner .visual h1 span {
      font: 300 18px/1 'Spline Sans'; }
  .main .inner .about h1 {
    font: 400 50px/1 'Playfair Display'; }
  .main .inner .about .imgWrap .pic {
    height: 400px; }
    .main .inner .about .imgWrap .pic .text {
      transform: translateY(300px); }
    .main .inner .about .imgWrap .pic:hover .text {
      transform: translateY(400px); }
  .main .inner .project h1 {
    font: 400 50px/1 'Playfair Display'; }
  .main .inner .project .swiper .swiper-wrapper .swiper-slide {
    height: 400px; }
    .main .inner .project .swiper .swiper-wrapper .swiper-slide .text h2 {
      margin-top: 250px; }
  .main .inner .music h1 {
    font: 400 50px/1 'Playfair Display'; }
  .main .inner .music > .container article .pic {
    width: 200px;
    height: 200px; }
  .main .inner .music > .container article .txt {
    width: 100px; }
    .main .inner .music > .container article .txt .btn {
      width: 30px;
      height: 30px; }
      .main .inner .music > .container article .txt .btn button {
        border-left: 7px solid rgba(255, 255, 255, 0.9);
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent; } }
@keyframes play {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.department .inner .awards {
  width: 100%;
  margin-bottom: 100px; }
  .department .inner .awards h2 {
    font: 400 14px/1 'Spline Sans';
    color: #fff;
    margin-bottom: 20px; }
  .department .inner .awards ul {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.7); }
    .department .inner .awards ul li {
      padding: 20px 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      cursor: pointer; }
      .department .inner .awards ul li::after {
        content: '';
        display: block;
        clear: both; }
      .department .inner .awards ul li h3 {
        float: left;
        font: 500 18px/1 'Spline Sans';
        color: rgba(255, 255, 255, 0.7);
        transition: .5s; }
      .department .inner .awards ul li span {
        float: right;
        font: 400 16px/1 'Playfair Display';
        color: rgba(255, 255, 255, 0.7);
        transition: .5s; }
      .department .inner .awards ul li img {
        opacity: 0;
        position: absolute;
        transform: translate(10%, -50%);
        width: 400px;
        max-height: 500px;
        object-fit: contain;
        object-position: top;
        transition: .2s; }
      .department .inner .awards ul li:hover h3 {
        color: #d25d1e;
        transform: translateX(10px); }
      .department .inner .awards ul li:hover span {
        color: #fff;
        transform: translateX(-10px); }
      .department .inner .awards ul li:hover img {
        opacity: 1; }
.department .inner .members h2 {
  font: 400 14px/1 'Spline Sans';
  color: #fff;
  margin-bottom: 20px; }
.department .inner .members > .inner {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px; }
  .department .inner .members > .inner article {
    cursor: pointer;
    margin-bottom: 20px; }
    .department .inner .members > .inner article .pic {
      width: 100%;
      height: 400px;
      position: relative; }
      .department .inner .members > .inner article .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: 1s; }
      .department .inner .members > .inner article .pic .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        padding-bottom: 20px;
        opacity: 0; }
        .department .inner .members > .inner article .pic .txt > span {
          font: 300 14px/1 'Spline Sans';
          color: #fff;
          margin-bottom: 10px;
          opacity: 0;
          transform: translateY(10px);
          transition: all 0.2s linear 0s; }
        .department .inner .members > .inner article .pic .txt > p {
          font: 400 18px/1 'Spline Sans';
          color: #fff;
          margin-bottom: 10px;
          opacity: 0;
          transform: translateY(10px);
          transition: all 0.2s linear 0.2s; }
        .department .inner .members > .inner article .pic .txt .sns {
          display: flex;
          transform: translateY(10px);
          opacity: 0;
          transition: all 0.2s linear 0.4s; }
          .department .inner .members > .inner article .pic .txt .sns a {
            margin-right: 5px; }
            .department .inner .members > .inner article .pic .txt .sns a i {
              color: #fff;
              font-size: 24px;
              transition: 0.5s; }
            .department .inner .members > .inner article .pic .txt .sns a:hover i {
              color: #d25d1e; }
    .department .inner .members > .inner article:hover .pic img {
      filter: grayscale(0); }
    .department .inner .members > .inner article:hover .pic .txt {
      opacity: 1; }
      .department .inner .members > .inner article:hover .pic .txt span {
        opacity: 1;
        transform: translateY(0px); }
      .department .inner .members > .inner article:hover .pic .txt > p {
        opacity: 1;
        transform: translateY(0px);
        color: #d25d1e; }
      .department .inner .members > .inner article:hover .pic .txt .sns {
        opacity: 1;
        transform: translateY(0px); }

@media screen and (max-width: 1200px) {
  .department .inner .members > .inner {
    grid-template-columns: repeat(3, 1fr); }
    .department .inner .members > .inner article .pic {
      height: 350px; } }
@media screen and (max-width: 769px) {
  .department .inner .awards ul li img {
    width: 200px;
    max-height: 400px; }
  .department .inner .members > .inner {
    grid-template-columns: repeat(2, 1fr); }
    .department .inner .members > .inner article .pic {
      height: 350px; } }
@media screen and (max-width: 549px) {
  .department .inner h1 {
    font: 400 80px/1 'Playfair Display'; }
    .department .inner h1 p:nth-of-type(2) {
      margin-left: 50px; }
  .department .inner .awards ul li h3 {
    float: none;
    margin-bottom: 8px; }
  .department .inner .awards ul li span {
    display: block;
    font: 400 14px/1 'Playfair Display';
    color: rgba(255, 255, 255, 0.4);
    transition-delay: .2s;
    float: none; }
  .department .inner .awards ul li:hover span {
    transform: translateX(10px); }
  .department .inner .members > .inner {
    grid-template-columns: repeat(1, 1fr); }
    .department .inner .members > .inner article .pic {
      height: 350px; } }
@media screen and (max-width: 397px) {
  .department .inner h1 {
    font: 400 55px/1 'Playfair Display'; }
  .department .inner .members > .inner article .pic {
    height: 300px; } }
@media screen and (max-width: 358px) {
  .department .inner .awards ul li h3 {
    font: 400 16px/1 'Spline Sans'; }
  .department .inner .awards ul li img {
    width: 100px;
    max-height: 300px; }
  .department .inner .members > .inner article .pic {
    height: 300px; } }
body {
  overflow-x: hidden; }

.gallery .inner {
  min-height: 600px;
  position: relative; }
  .gallery .inner .btns {
    position: absolute;
    top: 295px;
    left: 0px; }
    .gallery .inner .btns button {
      border: none;
      background: transparent;
      margin-right: 15px;
      font: 300 14px/1 'Spline Sans';
      color: #888;
      cursor: pointer;
      transition: .5s; }
      .gallery .inner .btns button.on, .gallery .inner .btns button:hover {
        color: #fff; }
  .gallery .inner .searchBox {
    position: absolute;
    top: 290px;
    right: 0;
    border-bottom: 1px solid #888; }
    .gallery .inner .searchBox > input[type=text] {
      border: none;
      padding: 5px;
      background: transparent;
      outline: transparent;
      font: 300 14px/1 'Spline Sans';
      color: #fff; }
    .gallery .inner .searchBox > button {
      font: 300 14px/1 'Spline Sans';
      color: #888;
      border: none;
      background: transparent;
      padding: 5px;
      cursor: pointer;
      transition: .5s; }
      .gallery .inner .searchBox > button:hover {
        color: #fff; }
  .gallery .inner .loadLine {
    width: 300px;
    height: 3px;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1); }
    .gallery .inner .loadLine::before {
      content: '';
      display: block;
      width: 0px;
      height: 3px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.1), white);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      animation: lineWidth 2s ease 1s; }
  .gallery .inner .imgWrap {
    width: 100%;
    opacity: 0;
    position: relative;
    transform: translateY(200px);
    margin-top: 135px;
    transition: 1s; }
    .gallery .inner .imgWrap.on {
      opacity: 1;
      transform: translateY(0); }
    .gallery .inner .imgWrap ul li {
      float: left;
      display: block;
      width: 25%;
      height: 280px;
      padding: 10px; }
      .gallery .inner .imgWrap ul li > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden; }
        .gallery .inner .imgWrap ul li > a img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: .5s; }
        .gallery .inner .imgWrap ul li > a .txtBox {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(150%);
          width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 20px 10px;
          z-index: 1;
          opacity: 0;
          transition: .8s ease; }
          .gallery .inner .imgWrap ul li > a .txtBox h2 {
            font: 400 16px/1 'Spline Sans';
            color: #d25d1e;
            margin-bottom: 8px; }
          .gallery .inner .imgWrap ul li > a .txtBox p {
            font: 300 12px/1 'Spline Sans';
            color: rgba(255, 255, 255, 0.7); }
        .gallery .inner .imgWrap ul li > a:hover img {
          filter: grayscale(0%); }
        .gallery .inner .imgWrap ul li > a:hover .txtBox {
          transform: translateY(0%);
          opacity: 1; }
.gallery .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 100px 40px; }
  .gallery .pop .pic {
    width: 100%;
    height: 100%;
    position: relative; }
    .gallery .pop .pic img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .gallery .pop .close {
    position: absolute;
    top: 30px;
    right: 40px;
    font: 400 20px/1 'Spline Sans';
    color: #fff;
    cursor: pointer; }

@media screen and (max-width: 1200px) {
  .gallery .inner .btns {
    left: 40px; }
  .gallery .inner .searchBox {
    right: 40px; }
  .gallery .inner .imgWrap ul li {
    width: 33.333%; } }
@media screen and (max-width: 749px) {
  .gallery .inner h1 {
    font: 400 90px/1 'Playfair Display';
    margin-bottom: 100px; }
  .gallery .inner .searchBox {
    margin-bottom: 15px; }
  .gallery .inner .imgWrap {
    margin-top: 155px; } }
@media screen and (max-width: 683px) {
  .gallery .inner h1 {
    font: 400 70px/1 'Playfair Display';
    margin-bottom: 100px; }
  .gallery .inner .imgWrap {
    margin-top: 195px; }
    .gallery .inner .imgWrap ul li {
      width: 50%; } }
@media screen and (max-width: 575px) {
  .gallery .inner h1 {
    font: 400 60px/1 'Playfair Display';
    padding-left: 0; }
    .gallery .inner h1 p:nth-of-type(2) {
      margin-left: 50px; }
  .gallery .inner .btns {
    top: 240px; }
  .gallery .inner .searchBox {
    top: 235px; }
  .gallery .inner .imgWrap {
    margin-top: 155px; }
    .gallery .inner .imgWrap ul li {
      width: 50%; } }
@media screen and (max-width: 540px) {
  .gallery .inner .loadLine {
    width: 200px; }
  .gallery .inner .btns {
    position: unset;
    margin-bottom: 10px; }
  .gallery .inner .searchBox {
    width: 100%;
    position: unset; }
    .gallery .inner .searchBox > input[type=text] {
      width: calc(100% - 51px); }
    .gallery .inner .searchBox > button {
      width: 51px; }
  .gallery .inner .imgWrap {
    margin-top: 25px; }
    .gallery .inner .imgWrap ul li {
      width: 100%;
      padding: 10px 0; } }
@media screen and (max-width: 521px) {
  .gallery .inner h1 {
    font: 400 50px/1 'Playfair Display'; } }
@media screen and (max-width: 417px) {
  .gallery .inner h1 {
    font: 400 35px/1 'Playfair Display'; }
    .gallery .inner h1 p:nth-of-type(2) {
      margin-left: 25px; }
  .gallery .inner .btns button {
    margin-right: 8px; } }
@keyframes lineWidth {
  0% {
    width: 0%; }
  60% {
    width: 100%; }
  100% {
    width: 100%; } }
.youtube .inner .vidList {
  width: 100%;
  border-top: 1px solid #888; }
  .youtube .inner .vidList article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #888; }
    .youtube .inner .vidList article .num {
      font: 400 28px/1 "Dancing Script";
      color: rgba(255, 255, 255, 0.9);
      letter-spacing: 2px; }
    .youtube .inner .vidList article .pic {
      width: 550px;
      height: 300px;
      margin: 0 100px;
      cursor: pointer; }
      .youtube .inner .vidList article .pic > .inner {
        width: 100%;
        height: 100%; }
        .youtube .inner .vidList article .pic > .inner img {
          width: 550px;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: .5s; }
    .youtube .inner .vidList article:hover .pic img {
      filter: grayscale(0%); }
    .youtube .inner .vidList article .con {
      width: 700px;
      margin-right: 50px;
      position: relative; }
      .youtube .inner .vidList article .con h2 {
        font: 400 30px/1.2 "Spline Sans";
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 30px; }
      .youtube .inner .vidList article .con > p {
        font: 300 14px/1.6 "Spline Sans";
        color: rgba(255, 255, 255, 0.7); }
      .youtube .inner .vidList article .con > button {
        font: 400 16px/1 "Spline Sans";
        color: #888;
        padding: 8px 16px;
        border: 1px solid #888;
        border-radius: 16px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: transparent;
        outline: none;
        cursor: pointer;
        transition: .5s; }
        .youtube .inner .vidList article .con > button:hover {
          background: rgba(255, 255, 255, 0.9);
          border: 1px solid rgba(255, 255, 255, 0.7);
          color: #111;
          transform: translate(-3px, -3px);
          box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1); }
.youtube .pop {
  width: 100%;
  padding: 30vw 15vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9); }
  .youtube .pop > .inner {
    width: 100%;
    padding-top: 56.25%;
    position: relative; }
    .youtube .pop > .inner iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      outline: none;
      border: none; }
  .youtube .pop .close {
    font: 400 24px/1 "Spline Sans";
    color: #888;
    position: absolute;
    top: 27vw;
    right: 15vw;
    cursor: pointer;
    transition: .5s; }
    .youtube .pop .close:hover {
      color: #fff; }

@media screen and (max-width: 1200px) {
  .youtube .inner .vidList article .pic {
    width: 450px;
    height: 250px;
    margin: 0 50px; }
    .youtube .inner .vidList article .pic > .inner img {
      width: 450px; }
  .youtube .inner .vidList article .con {
    margin-right: 0; }
    .youtube .inner .vidList article .con h2 {
      margin-bottom: 20px; } }
@media screen and (max-width: 960px) {
  .youtube .inner .vidList article {
    flex-wrap: wrap;
    justify-content: start; }
    .youtube .inner .vidList article .pic {
      width: calc(100% - 60px);
      height: auto;
      margin: 0;
      padding: 0 80px; }
      .youtube .inner .vidList article .pic > .inner {
        width: 100%;
        height: unset;
        padding-bottom: 56.25%;
        position: relative; }
        .youtube .inner .vidList article .pic > .inner img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; }
    .youtube .inner .vidList article .con {
      width: 100%;
      margin-top: 30px;
      padding-left: 135px;
      padding-right: 80px; }
      .youtube .inner .vidList article .con button {
        left: unset;
        right: 80px;
        bottom: unset;
        top: 0px; }
  .youtube .pop {
    padding: 35vw 10vw; }
    .youtube .pop .close {
      top: 30vw;
      right: 10vw; } }
@media screen and (max-width: 820px) {
  .youtube .inner .vidList article .con button {
    display: none; }
  .youtube .pop {
    padding: 40vw 10vw; }
    .youtube .pop .close {
      top: 34vw;
      right: 10vw; } }
@media screen and (max-width: 769px) {
  .youtube .inner h1 {
    font: 400 70px/1 'Playfair Display'; }
    .youtube .inner h1 p:nth-of-type(2) {
      margin-left: 50px; }
  .youtube .inner .vidList article .pic {
    width: 100%;
    margin-left: 0px;
    padding: 0;
    margin-top: 30px; }
  .youtube .inner .vidList article .con {
    width: 100%;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0; }
  .youtube .pop {
    padding: 50vw 10vw; }
    .youtube .pop .close {
      top: 43vw;
      right: 10vw; } }
@media screen and (max-width: 660px) {
  .youtube .inner .vidList article .num {
    width: 100%; }
  .youtube .inner .vidList article .con {
    padding-left: 0; }
  .youtube .pop {
    padding: 75vw 10vw; }
    .youtube .pop .close {
      top: 68vw;
      right: 10vw; } }
@media screen and (max-width: 496px) {
  .youtube .inner h1 {
    font: 400 50px/1 'Playfair Display'; }
    .youtube .inner h1 p:nth-of-type(2) {
      margin-left: 50px; }
  .youtube .inner .vidList article .num {
    font: 400 35px/1 "Dancing Script"; }
  .youtube .inner .vidList article .con h2 {
    font: 400 24px/1.2 "Spline Sans"; }
  .youtube .inner .vidList article .con > p {
    font: 300 14px/1.6 "Spline Sans"; }
  .youtube .pop {
    padding: 110vw 10vw; }
    .youtube .pop .close {
      top: 100vw;
      right: 10vw; } }
@media screen and (max-width: 388px) {
  .youtube .inner h1 {
    font: 400 40px/1 'Playfair Display'; }
    .youtube .inner h1 p:nth-of-type(2) {
      margin-left: 25px; } }
@media screen and (max-width: 376px) {
  .youtube .inner .vidList article {
    padding: 30px 0px; }
  .youtube .pop {
    padding: 150vw 10vw; }
    .youtube .pop .close {
      top: 140vw;
      right: 10vw; } }
.community .inner {
  position: relative; }
  .community .inner .faqWrap h2 {
    font: 400 14px/1 'Spline Sans';
    color: #fff;
    margin-bottom: 20px; }
  .community .inner .faqWrap > .inner {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px; }
    .community .inner .faqWrap > .inner > article {
      position: relative;
      height: 300px;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.1); }
      .community .inner .faqWrap > .inner > article > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .community .inner .faqWrap > .inner > article h3 {
        font: 500 90px/1 "Dancing Script";
        color: #fff; }
      .community .inner .faqWrap > .inner > article p {
        font: 300 14px/1.2 'Spline Sans';
        color: #fff;
        letter-spacing: 1px; }
      .community .inner .faqWrap > .inner > article::before {
        content: '';
        display: block;
        background-color: #d25d1e;
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 1s; }
      .community .inner .faqWrap > .inner > article:hover {
        width: 100%;
        height: 100%; }
        .community .inner .faqWrap > .inner > article:hover::before {
          width: 100%; }
  .community .inner .boardWrap {
    position: relative;
    padding-top: 37px; }
    .community .inner .boardWrap .btns {
      position: absolute;
      top: 7px;
      left: 0px; }
      .community .inner .boardWrap .btns button {
        border: none;
        background: transparent;
        margin-right: 15px;
        font: 300 14px/1 'Spline Sans';
        color: #888;
        cursor: pointer;
        transition: .5s; }
        .community .inner .boardWrap .btns button.on, .community .inner .boardWrap .btns button:hover {
          color: #fff; }
    .community .inner .boardWrap .searchBox {
      position: absolute;
      top: 0;
      right: 0;
      border-bottom: 1px solid #888; }
      .community .inner .boardWrap .searchBox > input[type=text] {
        border: none;
        padding: 5px;
        background: transparent;
        outline: transparent;
        font: 300 14px/1 'Spline Sans';
        color: #fff; }
      .community .inner .boardWrap .searchBox > button {
        font: 300 14px/1 'Spline Sans';
        color: #888;
        border: none;
        background: transparent;
        padding: 5px;
        cursor: pointer;
        transition: .5s; }
        .community .inner .boardWrap .searchBox > button:hover {
          color: #fff; }
    .community .inner .boardWrap .notice {
      width: 100%;
      padding-top: 10px; }
      .community .inner .boardWrap .notice article {
        width: 100%;
        padding: 25px 15px;
        border-top: 1px solid #888;
        cursor: pointer;
        transition: .3s; }
        .community .inner .boardWrap .notice article:last-child {
          border-bottom: 1px solid #888; }
        .community .inner .boardWrap .notice article .num {
          display: inline-block;
          width: 50px;
          margin-right: 50px;
          vertical-align: middle;
          text-align: center;
          font: 400 28px/45px 'Dancing Script';
          color: #888;
          transition: .3s; }
        .community .inner .boardWrap .notice article .wrap {
          display: inline-block;
          vertical-align: middle; }
          .community .inner .boardWrap .notice article .wrap h2 {
            font: 400 20px/1.3 'Spline Sans';
            color: #fff;
            letter-spacing: 1px;
            transition: .3s; }
          .community .inner .boardWrap .notice article .wrap .txtWrap {
            margin-top: 5px; }
            .community .inner .boardWrap .notice article .wrap .txtWrap > span {
              display: inline-block;
              vertical-align: middle;
              font: 300 15px/1 'Spline Sans';
              color: rgba(255, 255, 255, 0.7);
              margin-right: 10px;
              transition: .3s; }
        .community .inner .boardWrap .notice article:hover .num {
          color: #fff; }
        .community .inner .boardWrap .notice article:hover .wrap h2 {
          color: #fff;
          transform: translateX(10px); }
        .community .inner .boardWrap .notice article:hover .wrap .txtWrap span {
          transform: translateX(10px);
          transition-delay: .2s; }
    .community .inner .boardWrap .pagination {
      width: fit-content;
      margin: 30px auto; }
      .community .inner .boardWrap .pagination > a {
        display: inline-block;
        vertical-align: center;
        padding: 3px 10px; }
        .community .inner .boardWrap .pagination > a i {
          font-size: 20px;
          color: #fff; }
      .community .inner .boardWrap .pagination .num {
        display: inline-block;
        vertical-align: center; }
        .community .inner .boardWrap .pagination .num > a {
          display: inline-block;
          vertical-align: center;
          font: 300 18px/24px 'Spline Sans';
          color: #888;
          padding: 0px 9px;
          margin: 0 10px;
          border: 1px solid #888;
          transition: .5s; }
          .community .inner .boardWrap .pagination .num > a:hover, .community .inner .boardWrap .pagination .num > a.on {
            color: #fff;
            border: 1px solid #fff; }

@media screen and (max-width: 865px) {
  .community .inner .faqWrap > .inner > article h3 {
    font: 500 70px/1 "Dancing Script"; }
  .community .inner .boardWrap .notice article .num {
    margin-right: 30px; } }
@media screen and (max-width: 845px) {
  .community .inner h1 {
    font: 400 80px/1 'Playfair Display'; }
  .community .inner .boardWrap .notice article .num {
    display: none; } }
@media screen and (max-width: 686px) {
  .community .inner h1 {
    font: 400 60px/1 'Playfair Display'; }
    .community .inner h1 p:nth-of-type(2) {
      margin-left: 50px; }
  .community .inner .faqWrap > .inner {
    grid-template-columns: repeat(2, 1fr); }
    .community .inner .faqWrap > .inner > article:nth-of-type(4) {
      order: 1; } }
@media screen and (max-width: 564px) {
  .community .inner h1 {
    font: 400 60px/1 'Playfair Display'; }
  .community .inner .faqWrap > .inner > article {
    padding: 30px 15px; }
    .community .inner .faqWrap > .inner > article h3 {
      font: 500 60px/1 "Dancing Script"; }
    .community .inner .faqWrap > .inner > article p {
      font: 300 14px/1.2 'Spline Sans'; } }
@media screen and (max-width: 420px) {
  .community .inner .faqWrap > .inner {
    grid-template-columns: repeat(1, 1fr); }
    .community .inner .faqWrap > .inner > article:hover {
      height: 300px; }
  .community .inner .boardWrap .btns {
    position: unset;
    margin-bottom: 10px; }
  .community .inner .boardWrap .searchBox {
    position: unset;
    margin-bottom: 20px; }
    .community .inner .boardWrap .searchBox > input[type=text] {
      width: calc(100% - 54px); }
    .community .inner .boardWrap .searchBox > button {
      width: 54px; }
  .community .inner .boardWrap .pagination > a {
    padding: 3px 5px; }
    .community .inner .boardWrap .pagination > a i {
      font-size: 18px; }
  .community .inner .boardWrap .pagination .num {
    vertical-align: top; }
    .community .inner .boardWrap .pagination .num > a {
      padding: 0px 6px;
      margin: 0 5px; } }
@media screen and (max-width: 389px) {
  .community .inner h1 {
    font: 400 40px/1 'Playfair Display'; } }

/*# sourceMappingURL=style.css.map */
